---
layout: default
---

<!-- <small>{{ page.date | date: "%-d %B %Y" }}</small> -->
<info>
    <time datetime="{{ page.date }}">{{ page.date | date: "%-d %B %Y" }}</time> |
    by <a href="{{ site.baseurl }}/author/{{ page.author | downcase | replace: ' ', '-' }}">{{ page.author }}</a> |
    Categories: 
    {% for category in page.categories %}
        {% unless category == "Uncategorized" %}
            <a href="{{ site.baseurl }}/category/{{ category | downcase | replace: ' ', '-' }}">{{ category }}</a>
        {% endunless %}
    <!-- <a href="{{ site.baseurl }}/category/{{ category | downcase | replace: ' ', '-' }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %} -->
    {% endfor %} |
    Tags: 
    {% for tag in page.tags %}
        <a href="{{ site.baseurl }}/tag/{{ tag | downcase | replace: ' ', '-' }}">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}
    {% endfor %}
</info>
<h1>{{ page.title }}</h1>

<!-- <p class="view">by {{ page.author | default: site.author }}</p> -->

<div class="post-content">
{{ content }}
</div>



<!-- Utterances Comments -->
<div class="comments-section">
<h3>Comments</h3>
<script src="https://utteranc.es/client.js"
        repo="tyxie2003/tyxie2003.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
</div>

<!-- <div class="comments-section">
    <h3>Comments</h3>
    <div id="commento"></div>
    <script defer src="https://cdn.commento.io/js/commento.js"></script>
</div> -->

<!-- Navigation between posts -->
<nav class="post-navigation">
    {% if page.previous.url %}
        <a class="prev" href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
    {% endif %}
    {% if page.next.url %}
        <a class="next" href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
    {% endif %}
</nav>
  